body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(0, 5, 5), rgb(179, 169, 169));
    overflow: hidden;
}
.container {
    position: relative;
    font-size: 12px;
    width: 40em;
    height: 40em;
}
.sun{
    position: absolute;
    margin-top: 15em;
    margin-left: 15em;
    width: 10em;
    height: 10em;
    background: linear-gradient(rgb(221, 172, 23), rgb(214, 108, 73));
    border-radius: 60%;
    box-shadow: 0 0 3em rgb(220, 133, 1);
}
.earth {
    margin-top: 5em;
    margin-left: 5em;
    width: 30em;
    height: 30em;
    animation: orbit 36.3s linear infinite;
}
.moon {
    margin-top: 0;
    margin-left: 0;
    width: 10em;
    height: 10em;
    animation: orbit 2.7s linear infinite;
}
.earth::before,
.moon::before {
    content:'';
    position:absolute;
    border-radius: 60%;
}
.earth::before {
    margin-top: 2.8em;
    margin-right: 2.8em;
    width: 3em;
    height: 3em;
    background-color: rgb(40, 195, 195);
}
.moon::before{
    margin-top: 0.8em;
    margin-right: 0.2em;
    width: 1.3em;
    height: 1.3em;
    background-color: silver;
}
@keyframes orbit {
    to{
        transform: rotate(360deg);
    }
}

